// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import "compass";

$warning-color: #FF0000;
$album-panel-height: em-calc(350);

.artist-summary {
  padding-top: em-calc(10);
  padding-bottom: em-calc(10);
}

.callout-artist-releases {
  text-align: center;
  padding: 0;
}

.artist-releases-container {
  padding-right: em-calc(20);
  padding-left: em-calc(20);
}

.alert-error {
  @include alert($warning-color);
}

.album-box.ng-enter {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}
.album-box.ng-enter,
.album-box.ng-leave.ng-leave-active {
  opacity:0;
}
.album-box.ng-leave,
.album-box.ng-enter.ng-enter-active {
  opacity:1;
}

.album-image {
  width: em-calc(125);
  height: em-calc(125);

  img {
    width: 100%;
    height: auto;
  }
}

.album-panel {
  height: $album-panel-height;
}

.album-panel-inner {
  padding-top: em-calc(10);
  padding-bottom: em-calc(10);
}

.page-previous,
.page-next {
  height: 100%;
  .inner {
    margin-top: ($album-panel-height / 2.2);
  }
  .inner-right {
    @extend .inner;
    img {
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -o-transform:rotate(180deg);
      transform:rotate(180deg);
    }
  }
}

.page-previous:hover {
  background-color: rgb(235,233,249); // Old browsers
  @include filter-gradient(#ebe9f9, #f2f2f2, horizontal); // IE6-9
  @include background-image(linear-gradient(left, rgba(235,233,249,1) 0%,rgba(163,163,163,1) 0%,rgba(193,193,193,1) 44%,rgba(242,242,242,1) 100%));
}
.page-next:hover {
  background-color: rgb(235,233,249); // Old browsers
  @include filter-gradient(#ebe9f9, #f2f2f2, horizontal); // IE6-9
  @include background-image(linear-gradient(left, rgba(242,242,242,1) 0%,rgba(193,193,193,1) 56%, rgba(163,163,163,1) 100%, rgba(235,233,249,1) 100%));
}

.ratings-row,
.tracklist-row {
  margin-top: em-calc(10);
}

.nav-input {
  //margin-right: em-calc(5);
}

.nav-button {
  text-align: center;
  margin-bottom: em-calc(5);
}

.user-section {
}

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

